importFrom(stats, approx, lowess, median, na.exclude, pnorm, predict,
           quantile, smooth.spline, var)

export(resamp.adj, quartile.normalize, quan.norm, preprocess, permute, 
n.genes.adaptive.int, mt.rawp2adjp.LPE, lpe, lowess.normalize, iqr, 
am.trans, baseOlig.error, baseOlig.error.step1, baseOlig.error.step2,
fdr.adjust,  fixbounds.predict.smooth.spline)

